<div class="container-fluid" *ngIf="statusCode === 200">
  <div class="card border-primary col-md-12 member-card customContainer" style="margin-bottom: 2%">
    <div class="row">
      <div class="col-md-4" style="padding-left: 1.5%">
        <h1>{{member.name}}</h1>
        <h4>({{member.username}})</h4>
      </div>
      <span class="col-md-4 orga-link">
        <a href="{{member.githubURL}}" target="_blank ">
          <i class="fa fa-github fa-4x " style="padding-right: 10px; "></i>{{member.githubURL}}
        </a>
      </span>
      <span class="col-md-4">
        <a href="{{member.avatarURL}}" target="_blank">
          <img class="img-responsive img-circle float-right " width="50% " height="50% " src="{{member.avatarURL}}"
            class="profile-pic">
        </a>
      </span>
    </div>

    <div class="card border-secondary col-md-12 member-card " style="border : 0; ">
      <div class="row ">
        <div class="col-md-4 ">
          <div class="member-icon">
            <i class="fa fa-stop-circle fa-3x "></i>
          </div>
          <span class="text-primary">{{member.amountPreviousCommits}}</span> Commits
        </div>

        <div class="col-md-4 ">
          <div class="member-icon">
            <i class="fa fa-code-fork fa-3x "></i>
          </div>
          <span class="text-primary">{{member.amountPreviousPullRequests}}</span> Pull Requests
        </div>

        <div class="col-md-4 ">
          <div class="member-icon">
            <i class="fa fa-exclamation-circle fa-3x "></i>
          </div>
          <span class="text-primary"> {{member.amountPreviousIssues}}</span> Issues (Closed/Opened)
        </div>
      </div>

    </div>
  </div>

  <div class="row col-md-12 customContainer">
    <graph class="col-md-4 " [chartData]="chartCommits" [organization]="organization"></graph>
    <graph class="col-md-4 " [chartData]="chartPRs" [organization]="organization"></graph>
    <graph class="col-md-4 " [chartData]="chartIssues" [organization]="organization"></graph>
  </div>

  <div class="row col-md-12 customContainer">
      <div class="col-md-4">
          <h2>Latest Commits - <span class="text-primary">{{commitsTableData.length}}</span></h2>
          <table class="table table-hover">
            <tr>
              <th>Date</th>
              <th>Commit</th>
            </tr>
            <tr *ngFor="let commit of commitsTableData">
              <td>{{commit.date.toUTCString()}}</td>
              <td><a href="{{commit.value}}" target="_blank" class="text-primary">{{commit.value.substring(commit.value.indexOf("commit/")+7)}}</a></td>
            </tr>
          </table>
      </div>
      <div class="col-md-4">
          <h2>Latest Pull Requests - <span class="text-primary">{{pullRequestsTableData.length}}</span></h2>
          <table class="table table-hover">
            <tr>
              <th>Date</th>
              <th>Pull Request</th>
            </tr>
            <tr *ngFor="let pr of pullRequestsTableData">
              <td>{{pr.date.toUTCString()}}</td>
              <td><a href="{{pr.value}}" target="_blank" class="text-primary">{{pr.value.substring(pr.value.indexOf("pull/")+5)}}</a></td>
            </tr>
          </table>
      </div>
      <div class="col-md-4">
        <h2>Latest Issues - <span class="text-primary">{{issuesTableData.length}}</span></h2>
    <table class="table table-hover">
      <tr>
        <th>Date</th>
        <th>Issue</th>
      </tr>
      <tr *ngFor="let issue of issuesTableData">
        <td>{{issue.date.toUTCString()}}</td>
        <td><a href="{{issue.value}}" target="_blank" class="text-primary">{{issue.value.substring(issue.value.indexOf("issues/")+7)}}</a></td>
      </tr>
    </table>
      </div>
    </div>
  <div>
</div>

</div>
<!-- Processing organization -->
<div class="jumbotron jumbotron-fluid vertical-center" style="margin-top: 2%; align-items: center"*ngIf="statusCode === 202">
  <div class="container" style="width: 75%; margin-top: 2%">
    <h1 class="display-4 text-center">{{processingInformation.searchedOrganization}} is processed!</h1>
    <p class="lead text-center">In order to process {{processingInformation.searchedOrganization}} there are {{processingInformation.totalCountOfNeededRequests}} requests, that's why the processing needs some time. Time to get yourself a fresh coffee! </p>
    <div class="progress"> 
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [ngStyle]="myStyles" attr.aria-valuenow="{{progressBarPercentage}}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
        <div class="container">
            <div class="row">
              <div class="col">
                  <div class="alert alert-info" role="alert">
                      <h2 class="text-center">Currently being processed:</h2>
                      <ul class="list-group" *ngFor="let missingRequest of processingInformation.missingRequestTypes">
                        <li class="list-group-item">{{missingRequest}}</li>
                      </ul>
                    </div>
              </div>
              <div class="col">
                  <div class="alert alert-success" role="alert">
                      <h2 class="text-center">Already processed:</h2>
                      <ul class="list-group" *ngFor="let finishedRequest of processingInformation.finishedRequestTypes">
                        <li class="list-group-item">{{finishedRequest}}</li>
                      </ul>
                    </div>
              </div>
            </div>
          </div>
  </div>
</div>


<!-- Invalid Organization -->
<div class="container-fluid" style="width: 75%" *ngIf="statusCode === 400">
<div class="alert alert-danger" style="margin-top: 5%" role="alert">
<h3 class="alert-heading">Something's gone wrong here!</h3>
<p>Unfortunately, the organization you are looking for cannot be found. Please make sure that the organization was spelled correctly and exists on Github.</p>
<hr>
<p class="mb-0"><b>Error:</b> {{error.error.errorMessage}} <b>Searched Organization:</b> {{error.error.searchedOrganization}}</p>
</div>
</div>