<!-- Header -->
<div class="jumbotron">
  
  <!-- Title -->
  <h1 class="display-3">GitStalker</h1>
  <p class="lead">Stalking made easy!</p>
  <hr class="my-4">

  <!-- Search field -->
  <form class="form-inline my-2 my-lg-0 align-items-center justify-content-center">
    <input class="form-control mr-sm-2" placeholder="Organizations name" type="text" style="width: 25%;">
    <button class="btn btn-primary my-2 my-sm-0" type="submit">Stalk!</button>
  </form>

</div>

<!-- Body -->
<router-outlet></router-outlet>