<!-- Header -->
<div class="jumbotron">

  <div class="container-fluid">

    <div class="row">
      <!-- Title -->
      <div class="col-sm-4">
        <h1 class="display-3">
          <a routerLink="home">GitStalker</a>
        </h1>
        <p class="lead">Stalking made easy!</p>
      </div>

      <!-- Search field -->
      <div class="col-sm-8">
        <form class="form-inline my-2 my-lg-0" style="padding-top: 5%;">
          <input class="form-control mr-sm-2 searchForm" [(ngModel)]="organization" name="search" placeholder="Organizations name"
            type="text" style="width: 35%;">
          <button class="btn btn-primary my-2 my-sm-0" (click)="openNewTab()">Stalk!</button>
        </form>
      </div>

    </div>
  </div>

</div>


<ul class="nav nav-tabs tabBar">
  <li class="nav-item" *ngFor="let tab of tabs">
    <a class="nav-link" data-toggle="tab" [routerLink]="tab.link" style="display: inline-block;">
      {{ tab.label }}
    </a>
    <button (click)="closeTab(tab.label)" type="button" class="close" data-dismiss="alert" style="margin-top: 10%;">&times;</button>
  </li>
</ul>


<!--Breadcrumbs for user orientation-->
<ng-container *ngIf="showNavigation">
  <div class="breadcrumbs">
    <h1>
      <button type="button" class="btn btn-link" (click)="goBack()">
        <i class="fa fa-arrow-left"></i>
      </button>
      <span> Organization / </span>
      <span class="text-primary">Members ({{data.members.length}})</span>
    </h1>
  </div>
</ng-container>


<!-- Body -->
<router-outlet (activate)='onComponentActivate($event)' (deactivate)='onComponentDeactivate($event)'>
</router-outlet>