<!-- Processing organization -->
<div class="jumbotron jumbotron-fluid vertical-center" style="margin-top: 2%; align-items: center">
  <div class="container" style="width: 75%; margin-top: 2%">
    <h1 class="display-4 text-center" *ngIf="processingInformation.currentPositionInQueue === 1">{{processingInformation.searchedOrganization}} is being processed!</h1>
    <h1 class="display-4 text-center" *ngIf="processingInformation.currentPositionInQueue > 1">{{processingInformation.searchedOrganization}} is waiting to be processed!</h1>
    <p class="lead text-center">In order to process {{processingInformation.searchedOrganization}}
      {{processingInformation.totalCountOfNeededRequests}} requests are being made, this might take a while.</p>
    <p class="lead text-center">Time to get yourself a fresh coffee! <i class="fa fa-coffee fa-2x fa-spin" style="margin-left: 2%"></i></p>
    <p class="lead text-center">Current Position: {{processingInformation.currentPositionInQueue}}</p>
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [ngStyle]="myStyles"
        attr.aria-valuenow="{{progressBarPercentage}}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="alert alert-info" role="alert">
            <h2 class="text-center">Currently being processed:</h2>
            <ul class="list-group" *ngFor="let missingRequest of processingInformation.missingRequestTypes">
              <li class="list-group-item">{{missingRequest}}</li>
            </ul>
          </div>
        </div>
        <div class="col">
          <div class="alert alert-success" role="alert">
            <h2 class="text-center">Already processed:</h2>
            <ul class="list-group" *ngFor="let finishedRequest of processingInformation.finishedRequestTypes">
              <li class="list-group-item">{{finishedRequest}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
