.componentCard {
    max-width: 30rem;
}

.graphCard {
    max-width: 40rem;
}

.rowSpacer {
    margin-top: 2.5%;
}

.tooltip .tooltiptext {
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}