<div class="container-fluid" style="width: 75%" *ngIf="statusCode === 200">

  <!-- Company meta data -->
  <div class="card col-md-12" style="border: 0; padding-top: 2%; padding-bottom: 2%; margin-bottom: 2%">

    <div class="row">
      <div class="col-md-4">
        <h1>{{organization.name}} |
          <img style="width:75px; height:75px;" src="{{organization.avatarURL}}" alt="{{organization.name}}'s github picture'">
        </h1>
        <!-- Location -->
        <span class="orga-location">
          <i class="fa fa-map-marker" style="padding-left: 3px; padding-right: 15px;"></i>{{organization.location}}</span>

        <!-- Description -->
        <p class="orga-description">
          <i class="fa fa-paper-plane" style="padding-right: 10px;"></i>{{organization.description}}.</p>
      </div>
      <!-- Website -->
      <span class="col-md-4 orga-link">
        <a href="{{organization.websiteURL}}" target="_blank">
          <i class="fa fa-globe fa-4x" style="padding-right: 10px;"></i>{{organization.websiteURL}}
        </a>
        <br>

      </span>
      <!-- Github -->
      <span class="col-md-4 orga-link">
        <a href="{{organization.githubURL}}" target="_blank">
          <i class="fa fa-github fa-4x" style="padding-right: 10px;"></i>{{organization.githubURL}}</a>
      </span>
    </div>


    <div class="row col-mb-12 justify-content-center graph-row">

      <!-- Members -->
      <div class="col-md-4">
        <a routerLink="members/">
          <div class="card border-primary mb-3 component-card">
            <div class="card-body">
              <h4 class="card-title">Members
                <button type="button" class="btn btn-link" [popover]="popoverMembers" [popoverOnHover]="true">
                  <i class="fa fa-info-circle"></i>
                </button>
              </h4>
              <h3 class="card-title" style="text-align: center">
                <i class="fa fa-user"></i> {{organization.numOfMembers}}</h3>
            </div>
          </div>
        </a>

        <popover-content #popoverMembers title="" placement="top" [closeOnClickOutside]="true">
          See all members of the organization.
        </popover-content>
      </div>

      <!-- Teams -->
      <div class="col-md-4">
        <a routerLink="teams/">
          <div class="card border-primary mb-3 component-card">
            <div class="card-body">
              <h4 class="card-title">Teams
                <button type="button" class="btn btn-link" [popover]="popoverTeams" [popoverOnHover]="true">
                  <i class="fa fa-info-circle"></i>
                </button>
              </h4>
              <h3 class="card-title" style="text-align: center">
                <i class="fa fa-users"></i> {{organization.numOfTeams}}</h3>
            </div>
          </div>
        </a>

        <popover-content #popoverTeams title="" placement="top" [closeOnClickOutside]="true">
          See all teams of the organization.
        </popover-content>
      </div>

      <!-- Repositories -->
      <div class="col-md-4">
        <a routerLink="repositories/">
          <div class="card border-primary mb-3 component-card">
            <div class="card-body">
              <h4 class="card-title">Repositories
                <button type="button" class="btn btn-link" [popover]="popoverRepos" [popoverOnHover]="true">
                  <i class="fa fa-info-circle"></i>
                </button>
              </h4>
              <h3 class="card-title" style="text-align: center">
                <i class="fa fa-book mr-3"></i> {{organization.numOfRepositories}}</h3>
            </div>
          </div>
        </a>

        <popover-content #popoverRepos title="" placement="top" [closeOnClickOutside]="true">
          See all repositories of the organization.
        </popover-content>

      </div>
    </div>

    <div class="row col-mb-12 justify-content-center graph-row">

      <!-- External Repos -->
      <div class="col-md-4">
        <a routerLink="external-repositories/">
          <div class="card border-primary mb-3 component-card">
            <div class="card-body">
              <h4 class="card-title">Ext. Repositories
                <button type="button" class="btn btn-link" [popover]="popoverExtRepos" [popoverOnHover]="true">
                  <i class="fa fa-info-circle"></i>
                </button>
              </h4>
              <h3 class="card-title" style="text-align: center">
                <i class="fa fa-location-arrow"></i> {{organization.numOfExternalRepoContributions}}</h3>
            </div>
          </div>
        </a>

        <popover-content #popoverExtRepos title="" placement="top" [closeOnClickOutside]="true">
          See all the repositories members of the organization contributed to.
        </popover-content>
      </div>

      <!-- Member Repos -->
      <div class="col-md-4">
        <a routerLink="member-repositories/">
          <div class="card border-primary mb-3 component-card">
            <div class="card-body">
              <h4 class="card-title">Member Repositories
                <button type="button" class="btn btn-link" [popover]="popoverMemberRepos" [popoverOnHover]="true">
                  <i class="fa fa-info-circle"></i>
                </button>
              </h4>
              <h3 class="card-title" style="text-align: center">
                <i class="fa fa-folder-open"></i> {{organization.numOfCreatedReposByMembers}}</h3>
            </div>
          </div>
        </a>

        <popover-content #popoverMemberRepos title="" placement="top" [closeOnClickOutside]="true">
          See all repositories created by members of the organization.
        </popover-content>
      </div>
    </div>

    <!-- Graphs -->
    <div class="row justify-content-center pad-bottom" style="margin-top: 1em">
      <graph class="col-md-4" [chartData]="chartMembers" [organization]="organization.name"></graph>
      <graph class="col-md-4" [chartData]="chartCommits" [organization]="organization.name"></graph>
      <graph class="col-md-4" [chartData]="chartPRs" [organization]="organization.name"></graph>
    </div>

    <!-- Last Update -->
    <span class="badge badge-warning">
      <i class="fa fa-clock-o" style="padding-right: 10px;"></i>Last update: {{organization.lastUpdate | date:'MMM
      d, y, h:mm'}}
    </span>
  </div>
</div>
<!-- Processing organization -->
<app-processing *ngIf="statusCode === 202" [processingInformation]=processingInformation [progressBarPercentage]=progressBarPercentage></app-processing>

<app-error *ngIf="statusCode === 400" [error]=error></app-error>