<div class="container-fluid" style="width: 75%" *ngIf="statusCode === 200">

  <!-- Company meta data -->
  <div class="card col-md-12" style="border: 0; padding-top: 2%; padding-bottom: 2%; margin-bottom: 2%">

    <div class="row">
      <div class="col-md-4">
        <h1>{{organization.name}} |
          <img style="width:75px; height:75px;" src="{{organization.avatarURL}}" alt="{{organization.name}}'s github picture'">
        </h1>
        <!-- Location -->
        <span class="orga-location">
          <i class="fa fa-map-marker" style="padding-left: 3px; padding-right: 15px;"></i>{{organization.location}}</span>

        <!-- Description -->
        <p class="orga-description">
          <i class="fa fa-paper-plane" style="padding-right: 10px;"></i>{{organization.description}}.</p>
      </div>
      <!-- Website -->
      <span class="col-md-4 orga-link">
        <a href="{{organization.websiteURL}}" target="_blank">
          <i class="fa fa-globe fa-4x" style="padding-right: 10px;"></i>{{organization.websiteURL}}
        </a>
        <br>

      </span>
      <!-- Github -->
      <span class="col-md-4 orga-link">
        <a href="{{organization.githubURL}}" target="_blank">
          <i class="fa fa-github fa-4x" style="padding-right: 10px;"></i>{{organization.githubURL}}</a>
      </span>
    </div>

    <!-- Data tile components (Members, Repositories, Teams, ...) -->
    <div class="row col-mb-12 justify-content-center">
      <!-- Members -->
      <app-tile link="members/" displayData="{{ organization.numOfMembers }}" title="Members" faIcon="user" class="col-md-6"></app-tile>
      <!-- Teams -->
      <app-tile link="teams/" displayData="{{ organization.numOfTeams }}" title="Teams" faIcon="users" class="col-md-6"></app-tile>
    </div>
    <div class="row col-mb-12 justify-content-center">
      <!-- Repositories -->
      <app-tile link="repositories/" displayData="{{ organization.numOfRepositories }}" title="Repositories" faIcon="book" class="col-md-4"></app-tile>
      <!-- External Repositories -->
      <app-tile link="external-repositories/" displayData="{{ organization.numOfExternalRepoContributions }}" title="Ext. Repositories" faIcon="location-arrow"
        class="col-md-4"></app-tile>
      <!-- Member Repositories -->
      <app-tile link="member-repositories/" displayData="{{ organization.numOfCreatedReposByMembers }}" title="Member Repositories" faIcon="folder-open"
        class="col-md-4"></app-tile>
    </div>

    <!-- Graphs -->
    <div class="row justify-content-center pad-bottom" style="margin-top: 1em">
      <graph class="col-md-4" [chartData]="chartMembers" [organization]="organization.name"></graph>
      <graph class="col-md-4" [chartData]="chartCommits" [organization]="organization.name"></graph>
      <graph class="col-md-4" [chartData]="chartPRs" [organization]="organization.name"></graph>
    </div>

    <!-- Last Update -->
    <span class="badge badge-warning">
      <i class="fa fa-clock-o" style="padding-right: 10px;"></i>Last update: {{organization.lastUpdate | date:'MMM
      d, y, h:mm'}}
    </span>
  </div>
</div>
<!-- Processing organization -->
<app-processing *ngIf="statusCode === 202" [processingInformation]=processingInformation [progressBarPercentage]=progressBarPercentage></app-processing>

<app-error *ngIf="statusCode === 400" [error]=error></app-error>