<div class="row">

  <!-- Members -->
  <div class="col-md-2">
    <div class="card border-primary mb-3" style="max-width: 20rem;">
      <div class="card-header">Members</div>
      <div class="card-body">
        <h4 class="card-title">63</h4>
      </div>
    </div>
  </div>

  <!-- Teams -->
  <div class="col-md-2">
    <div class="card border-primary mb-3" style="max-width: 20rem;">
      <div class="card-header">Members</div>
      <div class="card-body">
        <h4 class="card-title">Primary card title</h4>
        <i class="fas fa-user"></i>
      </div>
    </div>
  </div>

  <!-- Repositories -->
  <div class="col-md-2">
      <div class="card border-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">Members</div>
        <div class="card-body">
          <h4 class="card-title">Primary card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>

  <!-- External Repos -->
  <div class="col-md-2">
      <div class="card border-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">Members</div>
        <div class="card-body">
          <h4 class="card-title">Primary card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
</div>

<i class="fas fa-user"></i>
<i class="far fa-user"></i>
<!--brand icon-->
<i class="fab fa-github-square"></i>