/* You can add global styles to this file, and also import other style files */

@import "https://bootswatch.com/4/cerulean/bootstrap.min.css";

/* Simple links everywhere */
a, a:visited, a:active {
    color: inherit !important;
    text-decoration:none !important;
}

/* The following are used in almost every component */
ul {
    list-style-type: none;
}

.fa {
    vertical-align: middle;
}

.member-card {
    padding: 1em;
}

.search-container {
    width: 100%;
    display: table;
}

.team-info-container {
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.card-title {
    margin-bottom: 2em;
}

.pad-bottom {
    padding-bottom: 2%;
}

.profile-pic {
    float: right; 
    width: 100px; 
    height: 100px;
    border-radius: 0.5em;
    margin-bottom: 5%;
}

.member-icon {
    display: inline-block;
    padding-right: 5%;
}

.small-member-icon {
    display: inline-block;
    padding-right: 5%;
    width: 10%;
}

.orga-link {
    margin-top: 20px;
}

#userLink:hover { 
    color: #428bca !important;
}