/* You can add global styles to this file, and also import other style files */

@import "https://bootswatch.com/4/cerulean/bootstrap.min.css";

/* Simple links everywhere */
a, a:visited, a:hover, a:active {
    color: inherit !important;
    text-decoration:none !important;
}

/* The following are used in almost every component */
ul {
    list-style-type: none;
}

.fa {
    vertical-align: middle;
}

.member-card {
    padding: 1em;
}

.search-container {
    width: 100%;
    display: table;
}

.team-info-container {
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.card-title {
    margin-bottom: 2em;
}

.pad-bottom {
    padding-bottom: 2%;
}
