<!-- Welcome card -->
<div class="card text-white bg-primary mb-3 generalLayout">
  <div class="card-body">
    <h2 class="card-title" style="text-align: center">Welcome!</h2>
    <p class="card-text" style="text-align: center">
      Just look for an organization and gain insight into all the details.
    </p>
  </div>
</div>

<!-- Search history -->
<div class="list-group generalLayout">
  <p class="list-group-item list-group-item-action active">
    Todo - Search history:
  </p>
  <a href="#" class="list-group-item list-group-item-action">Company 1</a>
  <a href="#" class="list-group-item list-group-item-action">Company 2</a>
</div>