<!-- Graph Modal | Must remain first element, because it's canvas is used for downloading -->
<div class="modal fade" id="memberModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="margin-left: 20%" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{chartTitle}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <canvas class="" baseChart [chartType]="chartType" [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions"
          [legend]="chartLegend" [colors]="chartColors">
        </canvas>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a href="#" (click)="downloadGraph($event)" class="btn btn-primary" style="color:white !important">Download</a>
      </div>
    </div>
  </div>
</div>

<!-- Member Growth -->
<div class="card border-secondary mb-3 graph-card">
  <div class="card-body">
    <!-- Custom card header -->
    <div class="row">
      <div class="col-md-5">
        {{chartTitle}}
      </div>
      <div class="col-md-4 offset-md-3">
        <button type="button" class="btn btn-info float-right" data-toggle="modal" data-target="#memberModal">
          <i class="fa fa-arrows-alt"></i>
        </button>
      </div>
    </div>
    <!-- Actual Graph body -->
    <canvas id="chart" baseChart [chartType]="chart.chartType" [datasets]="chart.chartData" [labels]="chart.chartLabels" [options]="chart.chartOptions"
      [legend]="chart.chartLegend" [colors]="chart.chartColors">
    </canvas>
  </div>
</div>