<div class="container-fluid" *ngIf="statusCode === 200">

  <!-- Search and sort functionality -->
  <div class="search-container">
    <form class="form-inline float-right">
      <input type="text" class="form-control" placeholder="Search Member" #searchBox (keyup)="search(searchBox.value)">
      <button type="submit" class="btn btn-primary">
        <i class="fa fa-search"></i>
      </button>
    </form>
    <div class="dropdown float-right mr-3">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
        Sort by: {{sortByTag}}
      </button>
      <div class="dropdown-menu">
        <button class="dropdown-item" (click)="sortByAlphabet()">Alphabet</button>
        <button class="dropdown-item" (click)="sortByCommits()">Commits</button>
        <button class="dropdown-item" (click)="sortByPullRequests()">Pull Requests</button>
        <button class="dropdown-item" (click)="sortByIssues()">Issues</button>
      </div>
    </div>
  </div>

  <!-- Cards displaying users and user info -->
  <div class="row justify-content-center graph-row">
    <!-- Members -->
    <div class="col-md-4 member-card" *ngFor="let member of members">
      <div class="card border-primary component-card">
        <a routerLink={{member.username}}>
          <div class="card-body">
            <!-- If a user does not have a 'name', display the 'username' instead-->
            <h3 class="card-title">{{member.name != null ? member.name : member.username}}
              <img class="profile-pic" src="{{member.avatarURL}}" alt="{{member.name}}'s github profile picture'">
            </h3>
            <div class="card-text">
              <p>Activity Last 7 Days:</p>
              <ul>
                <li>
                  <div class="small-member-icon">
                    <i class="fa fa-stop-circle"></i>
                  </div>
                  <span class="text-primary"> {{member.amountPreviousCommits}}</span> Commits</li>
                <li>
                  <div class="small-member-icon">
                    <i class="fa fa-code-fork"></i>
                  </div>
                  <span class="text-primary"> {{member.amountPreviousPullRequests}}</span> Pull Requests</li>
                <li>
                  <div class="small-member-icon">
                    <i class="fa fa-exclamation-circle"></i>
                  </div>
                  <span class="text-primary"> {{member.amountPreviousIssues}}</span> Issues (Closed/Opened)</li>
              </ul>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Processing organization -->
<div class="jumbotron jumbotron-fluid vertical-center" style="margin-top: 2%; align-items: center" *ngIf="statusCode === 202">
    <div class="container" style="width: 75%; margin-top: 2%">
      <h1 class="display-4 text-center">{{processingInformation.searchedOrganization}} is processed!</h1>
      <p class="lead text-center">In order to process {{processingInformation.searchedOrganization}} there are {{processingInformation.totalCountOfNeededRequests}} requests, that's why the processing needs some time. Time to get yourself a fresh coffee! </p>
      <div class="progress"> 
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [ngStyle]="myStyles" attr.aria-valuenow="{{progressBarPercentage}}" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
          <div class="container">
              <div class="row">
                <div class="col">
                    <div class="alert alert-info" role="alert">
                        <h2 class="text-center">Currently being processed:</h2>
                        <ul class="list-group" *ngFor="let missingRequest of processingInformation.missingRequestTypes">
                          <li class="list-group-item">{{missingRequest}}</li>
                        </ul>
                      </div>
                </div>
                <div class="col">
                    <div class="alert alert-success" role="alert">
                        <h2 class="text-center">Already processed:</h2>
                        <ul class="list-group" *ngFor="let finishedRequest of processingInformation.finishedRequestTypes">
                          <li class="list-group-item">{{finishedRequest}}</li>
                        </ul>
                      </div>
                </div>
              </div>
            </div>
    </div>
  </div>

      <!-- Invalid Organization -->
<div class="container-fluid" style="width: 75%" *ngIf="statusCode === 400">
  <div class="alert alert-danger" style="margin-top: 5%" role="alert">
    <h3 class="alert-heading">Something's gone wrong here!</h3>
    <p>Unfortunately, the organization you are looking for cannot be found. Please make sure that the organization was spelled correctly and exists on Github.</p>
    <hr>
    <p class="mb-0"><b>Error:</b> {{error.error.errorMessage}} <b>Searched Organization:</b> {{error.error.searchedOrganization}}</p>
  </div>