<div class="container-fluid" style="padding-left: 2%; padding-top: 2%; padding-right: 2%">
  <div class="row">
    <!-- Navigation -->
    <div class="col-sm-8">
      <h2>
        <i class="fa fa-arrow-left"></i> Organization XY / Members (63)
      </h2>
    </div>
    <!-- Orga website -->
    <div class="col-sm-2">
      <wbr>
        <input class="form-control mr-sm-2" placeholder="Search user" type="text">
    </div>

    <div class="col-sm-2">
      <wbr>
      <div class="form-group">
        <select class="custom-select">
          <option selected="">Sort by</option>
          <option value="1">Alphabetical</option>
          <option value="2">Most commits</option>
          <option value="3">Most PRs</option>
          <option value="4">Most Issues</option>
        </select>
      </div>
    </div>

  </div>
  <!-- Organization description -->

</div>